# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

*  List popular languages for Data Science
*  List popular libraries for Data Science
*  Create a table 
*  Use some popular markdown elements
*  Write arithmetic expression in Jupyter Notebook

Some of popular languages that Data Scientists use are: 
1. Python
2. R
3. Java
4. JavaScript

Some of commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy
4. Scikit learn

|Data Science Tools|
|---|
|Anaconda|
|Visual Studio Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Rocco Rivela